@import url('https://fonts.googleapis.com/css2?family=Alata&family=Arvo:ital@1&family=Bad+Script&family=Bebas+Neue&family=Cardo:ital@1&family=DM+Sans&family=Figtree&family=Inter&family=Italianno&family=Josefin+Sans:wght@500;700&family=Marck+Script&family=Montserrat:wght@400;700&family=Oooh+Baby&family=Poppins:ital,wght@0,300;0,400;0,600;1,700&family=Quattrocento&family=Quicksand:wght@700&family=Sawarabi+Gothic&family=Source+Sans+3&family=Stick+No+Bills:wght@800&family=Unna:ital@1&display=swap');

.welcome-title {
    padding: 4% 4% 0 4%;
    font-family: 'Montserrat', sans-serif;
}
.welcome-title h1 {
    font-weight: bold;
    font-size: 4vw;
}

.welcome-image {
    padding: 0 4% 0 0;
    display: flex;
    justify-content: end;
}

.welcome-image img{
    width: 40vw;
    border-radius: 30px;
    border: solid rgb(210, 210, 210) 8px;
}

.welcome-image .img-1 {
    position: absolute;
    left: 45%;
    top: 40%;
}

.about-container {
    width: 100%;
    border-radius: 50px;
}

.about-header {
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;

}

.about-content {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.a{
    text-decoration: none;
    color: black;
}

.about-footer {
    justify-content: center;
    align-items: end;
    height: 200px;
}

.blog-link {
    padding: 4% 4% 0 4%;
    font-family: 'Montserrat', sans-serif;
}

.link a{
    text-decoration: none;
    color: black;
    transition: transform 0.5s;
}

.link a:hover {
    transform: scale(1.5);
        
}

.blog-link h1 {
    font-weight: bold;
    font-size: 4vw;
}

.details {
    font-family: 'Montserrat', sans-serif;  
}

.content h1 {
    font-weight: bold;
} 

.delete-btn {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background-color: transparent;
}

.modal-body img{
    outline: none;
}